.filtros {
	background-color: rgb(206, 234, 250);
	width: 200px;
	height: 632px;
	float: left;
	text-align: center;
	border: 1px cornflowerblue;
	border-radius: 20px  20px 20px 20px;
	margin: 6px 6px 6px 6px;
	box-shadow: 0 0 5px 0 rgba(168, 168, 168, 0.5);
}
form, input {
	text-align: left !important;
}
.camposAlinhados {
	margin-left: 10px;
	width: 180px;
}
button {
	width: 60px !important;
	float: right;
	margin-right: 70px;
	margin-top: 3px;
	border-radius: 5px  5px 5px 5px;
	box-shadow: 0 0 5px 0 rgba(168, 168, 168, 0.5);
}
.banner {
	font-size: 48px;
	font-variant:small-caps;
	color: white;
	height: 150px;
	width: 820;
	float: right;
	text-align: center;
	text-shadow: 2px 2px black;
	background-image: url(fundo/marciene6.jpg);
}
.resorts {
	border: 0px;

}
a{
	color:white;
}
a:hover{
	color: cyan;
}
.resort {
	width: 281.31px;
	height: 257.63px;
	box-shadow: 0 0 5px 0 rgba(168, 168, 168, 0.5);
	margin-bottom: 20px;	
}
#ilha {

	border-radius: 20px 0px 0px 20px;
	background-image:url(fundo/resort1.jpg);
	border: 1px;
	float: left;
}

#curral {
	border-radius: 20px  0px 0px 20px;
	background-image:url(fundo/resort2.jpg);
	border: 1px;
	float: left;

}
.quadrado{
	width:300px;
	height: 238px;
	border: 1px;
	float: left;
	padding:10px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color:rgb(68, 66, 66)
}
	
.diaria{
	width: 150px;
	height: 226px;
	box-shadow: 0 0 5px 0 rgba(168, 168, 168, 0.5);
	float: left;
	border-radius: 0px  20px 20px 0px;
	border: 1px;
	background-color:rgb(252, 134, 24);
	padding:16px;
	color: white;
	font-family:tahoma;
	
}
.sp{
	font-size: 12px;
	font-family: Georgia;
}
.preco{
	font-size: 20px;
	font-family: tahoma;
	color: white;
	
	
}
.parcela{
	font-size: 13px;
	font-family: tahoma;
	color: rgb(1, 68, 167);
	float: right;
}
.button2 {
	border-radius: 8px;
	background-color: rgb(70, 164, 240);
  	border: none;
  	color: white;
	padding: 10px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
	margin: 15px 20px;
	cursor: pointer;
	box-shadow: 0 5px 5px 0 rgba(168, 168, 168, 0.5);	  
}

