
.resort {
	flex: 0 0 100%;
	display: flex;
	box-shadow: 0 0 5px 0 rgba(168, 168, 168, 0.5);
	border-radius: 10px;
	margin-bottom: 20px;
	flex-direction: row;
}

.filtros {
	background-color: rgb(206, 234, 250);
	width: 200px;
	height: 617px;
	float: left;
	margin-right: 10px;
	text-align: center;
}
form, input {
	text-align: left !important;
}
.camposAlinhados {
	margin-left: 10px;
	width: 180px;
}
button {
	width: 60px !important;
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}
.banner {
	height: 150px;
	width: 820;
	float: right;
	text-align: center;
	background-color: rgb(251, 169, 79);
}
.bannerimagem {
	z-index: 1;
	width: 820px;
	height: 150px;
}
.bannertexto {
	z-index: 2;
	text-align: center;
}