 
	

#banner {
	font-family:georgia;
	font-size: 48px;
	font-variant:small-caps;
	color:rgb(255, 255, 255);
	height: 150px;
	width: 820;
	float: right;
	text-align: center;
	text-shadow: 3px 1px rgb(7, 7, 7);
	background-image: url(imgs/banner.jpg.);
}
#covid{
	width: 200px;
	height: 215px;
	margin: 6px 6px 6px 14px;
	background-color: rgb(250, 160, 76);
	border-radius: 10px;
	box-shadow: 0 0 5px 0 rgba(168, 168, 168, 0.5);
	border: 1px cornflowerblue;
	text-align: center;
	

                
}
.formulario{
	background-color: rgb(206, 234, 250);
	width: 200px;
	height: 598px;
	font-family: georgia;
	line-height:30px;
	border: 1px cornflowerblue;
	border-radius: 20px  20px 20px 20px;
	margin: 20px 6px 6px 6px;
	box-shadow: 0 0 5px 0 rgba(168, 168, 168, 0.5);
	float: left;
}
input[type="date"]{
	width: 130px;
}
input[type="number"]{
	width: 35px;
	
}
#slide-externo{
	width: 47vw;
	height: 60vh;
	border: 4px solid white;
	box-shadow: 0 0 5px 0 rgba(168, 168, 168, 0.5);
	margin-left: 3vw;
	overflow: auto;
	box-sizing: border-box;
	float: left;
}
#slide-interno{
	
	width: 100%;
	animation: slide 5s infinite;
	


}
#slide-interno img{
	width: 100%;
	
}

