.filtros {
	background-color: rgb(206, 234, 250);
	width: 200px;
	height: 620px;
	float: left;
	margin-right: 10px;
	text-align: center;
	border: 1px cornflowerblue;
}
form, input {
	text-align: left !important;
}
.camposAlinhados {
	margin-left: 10px;
	width: 180px;
}
button {
	width: 60px !important;
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}
.banner {
	font-size: 48px;
	font-variant:small-caps;
	color: white;
	height: 150px;
	width: 820;
	float: right;
	text-align: center;
	text-shadow: 2px 2px black;
	background-image: url(fundo/marciene6.jpg);
}
.resorts {
	border: 0px;

}
a{
	color:white;
}
a:hover{
	color: cyan;
}
.resort {
	width: 281.31px;
	height: 257.63px;
	display: flex;
	box-shadow: 0 0 5px 0 rgba(168, 168, 168, 0.5);
	margin-bottom: 20px;
	
}
#ilha {

	background-color: lightseagreen;
	border-radius: 20px 0px 0px 20px;
	background-image:url(fundo/resort1.jpg);
	border: 1px;
	float: left;
}
#ilha2 {
	width:520px;
	text-align:center;
	border-radius: 0px  20px 20px 0px;
	box-shadow: 0 0 5px 0 rgba(168, 168, 168, 0.5);
	border: 1px;
	
}
#curral {
	background-color: lime;
	border-radius: 20px  0px 0px 20px;;
	background-image:url(fundo/resort2.jpg);
	border: 1px;
	float: left;

}
#curral2{
	width:520px;
	text-align:center;
	border-radius: 0px  20px 20px 0px;
	box-shadow: 0 0 5px 0 rgba(168, 168, 168, 0.5);
	border: 1px;
}