#principal {
	width: 1024;
	margin: 0px auto;
	border: none;
}

#logo {
	height: 150px;
	width: 200px;
	text-align: center;
	float: left;
	background-color: rgb(251, 169, 79);
}

.opcoes{
	width: 142.2px;
	float: left;
	text-align: center;
	margin: 5px 0px 0px 0px;
	height: 30px;
	padding: 1px;
	margin-bottom: 20px;
	background-color: rgb(0, 112, 192);
	font-family: Georgia;
	font-size: 13px;
	color: white;
}
#conteudo {
	clear: both;
	width: 1023px;
	height: 620px;
	margin: 0px auto;
	background-color: white;
	margin-bottom: 15px;
	border: 0px 1px 1px 0px solid black;
}

#pagamentos {
	width: 454px;
	height: 65px;
	text-align: center;
	float: left;
	background-color: rgb(0, 112, 192);
}

#contatos {
	width: 454px;
	height: 65px;
	text-align: center;
	float: left;
	background-color: rgb(0, 112, 192);
}

#sobre {
	width: 452px;
	height: 65px;
	text-align: center;
	float: left;
	background-color: rgb(0, 112, 192);
}

.rodape {
	width: 339.3px;
	height: 62px;
	float: left;
	text-align: center;
	background-color: rgb(0, 112, 192);
	font-size: 15px;
	
}

.branco {
	color: white;
}

div {
	border: 1px solid black;
}

body {
	background: url(imgs/fundo.jpg);
	background-size: cover;
}
.textobanner {
	font-size: 50px;
}